footer
{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2C3E50;
   color: white;
   text-align: center;
}
h3
{
color: white;
text-align: center;
}
p
{
  text-align: center;
  color: white;
}
body
 {
   background-color: #4CBB7B;
 }
 label
 {
   color: black;
 }
 p1
 {
   text-align: center;
   font-size: 17px;
 }
 table
{
  text-align: center;
}
h2
{
color: white;
text-align: center;
}
